li
{
	background-color: grey;
	height: 39.5px;
	width: 39.5px;
	border: 0.5px solid black;
	border-radius: 3px;

}

ol{
	list-style-position:inside;
	display: flex;
	flex-wrap: wrap;
	color: black;
	font-size: 10px;
	align-items: center;
	justify-content: center;
	text-align: left;

}
	
h1 
{
	text-align: center;
	font-weight: normal;
	color: sandybrown;



}
li:nth-child(2n+2)
{
	background-color: sandybrown;
}